.image_list_container {
  padding: 10px;
  border: 10px solid #21ba45;
  border-radius: 10px;
  min-height: 100vh;
  box-shadow: 0 0 10px 0 #a99f9f;
}

.images_area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
